body {font-family: sans-serif;
        color: Ivory;
        font-size: small;
}

h1,h2 {
        color: DarkOrange;
        font-size: 220%;
    }

h1 {
        border-bottom: 5px solid DarkOrange;
        font-family: 'Bitter', serif;
        color: DimGray;
        font-size: 300%;
    }

p {
      color: DimGray;
  }

ul {
        color:Lawngreen;
}

/*This is a css comment*/
